//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$breakpoint-mobile:767px;


$base-font-size:16px;

$bold-font-weight:700;
$normal-font-weight:400;


//colors
$black-color: #323232;
$silver-color: #AFAFAF;
$mercury-color: #E1E1E1;
$alabaster-color: #FAFAFA;
$blue-color: #0095FF