@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;


.comments{
    margin: 0 1rem;

    @include tablet{
        margin: 0 1.5rem;
    }

    @include desktop{
        margin: 0;
    }

    &__item{
        border-bottom: .125rem solid $mercury-color;
        position: relative;
        padding: 1.5rem 0;
        display:flex;
        flex-wrap:wrap;
        justify-items:space-between;
    }

    &__image{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        position: absolute;
        align-self: flex-start;
        top: 1.5rem;
    }

    &__name{
        @include h2-m-semibold{
            padding: 0 0 .5rem 3.5rem;
            color: $black-color;
        }
    }

    &__date{
        @include h2-m{
            color: $silver-color;
            margin-left:auto;
        }

        @include tablet{
            margin-left: .5rem;
        }

    }

    &__comment{
        @include h2-m{ 
            padding-left: 3.5rem;
        }

        @include tablet{
            padding-right:2.5rem;
        }
    }
}