@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;


video{
    width:20rem;
    height:11.4375rem;
    object-fit:cover;
}


.video-display__title{

}

.video-display__channel{

}

.video-display__timestamp{

}

.video-display__views{

}

.video-display__likes{

}

.video-display__description{

}